<div *ngFor="let contact of contacts">
    <span>Name: <span contenteditable="true"
    #name (blur)='update(name, "name", contact)'>{{contact.name}}</span></span><br/>
    <span>Email: <span contenteditable="true"
    #mail (blur)='update(mail, "mail", contact)'>{{contact.email}}</span></span><br/>
    <span>Phone: <span contenteditable="true"
    #phone (blur)='update(phone, "phone", contact)'>{{contact.phone}}</span></span>
    <input type="button" (click)="drop(contact.id)" value="Delete"/>
    <hr/>
</div>
<input type="button" (click)='create()' value="Create new  User"/>
